Header set Access-Control-Allow-Origin "*"
AddType 'application/json' .json
FileETag None
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"  

<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule recording/list/work/(.*)/(.*).json dyn/recording/list.phtml?id=$1&offset=$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule recording/detail/work/(.*)/album/(.*)/(.*).json dyn/recording/detail.phtml?wid=$1&aid=$2&set=$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule recording/shorturl/work/(.*)/album/(.*)/(.*).json dyn/recording/shorten.phtml?wid=$1&aid=$2&set=$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule recording/unshorten/(.*).json dyn/recording/unshorten.phtml?rid=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule recording/random/work/(.*).json dyn/recording/random.phtml?work=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule recording/list/playlist/(.*).json dyn/recording/playlist.phtml?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule composer/list/name/(.*).json dyn/composer/list.phtml?name=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule composer/list/id/(.*).json dyn/composer/list.phtml?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule composer/list/search/(.*).json dyn/composer/list.phtml?search=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule composer/list/epoch/(.*).json dyn/composer/list.phtml?epoch=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule work/list/composer/(.*)/genre/(.*)/search/(.*).json dyn/work/list.phtml?composer=$1&genre=$2&search=$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule work/list/composer/(.*)/(.*).json dyn/work/list.phtml?composer=$1&genre=$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule genre/list/composer/(.*).json dyn/genre/list.phtml?composer=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule user/(.*)/recording/fav.json dyn/user/recording/fav.phtml?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule user/(.*)/recording/recent.json dyn/user/recording/recent.phtml?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule user/(.*)/lists.json dyn/user/lists.phtml?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule user/(.*)/composer/fav.json dyn/user/composer/fav.phtml?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule user/(.*)/composer/(.*)/work/fav.json dyn/user/work/fav.phtml?uid=$1&cid=$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule user/(.*)/composer/(.*)/work/fav/search/(.*).json dyn/user/work/fav.phtml?uid=$1&cid=$2&search=$3 [L]     

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule cover/(.*).jpg dyn/cover/img.phtml?img=$1 [L]
</IfModule>
